<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <dir class="main-content">
            {{>header}}

            <img class="portrait" src="/img/KalaniTikaa_JoshuaTreeNP.jpg">
        </dir>
        
        {{>footer}}
    </body>
</html>